<h1>Listing slh_sites</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slh_sites.each do |slh_site| %>
  <tr>
    <td><%= link_to 'Show',user_slh_config_dir_slh_strategy_slh_host_slh_site_path(@user,@slh_config_dir,@slh_strategy, @slh_host, slh_site) %></td>
    <td><%# link_to 'Edit', edit_slh_site_path(slh_site) %></td>
    <td><%# link_to 'Destroy', slh_site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Slh site', new_slh_site_path %>
