<%= form_for(@slh_site_path) do |f| %>
  <% if @slh_site_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slh_site_path.errors.count, "error") %> prohibited this slh_site_path from being saved:</h2>

      <ul>
      <% @slh_site_path.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
